.body_container {

}

.header {
    
    border-style: groove;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: darkcyan;
    
}

.header img{

	border: 2px solid;
    border-radius: 10px;

}

 .contact {
     
     position: relative;
     text-align: right;
     padding-left: 30%;
     
 }

.Name {
    
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.contact p {
    
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    
}

.Background{

	position: absolute;
    right: 20%;
	opacity: 0.15;

}

.Background img {

    height: 800px;
    width: 800px;
    
}

.Resume_Body h2{

    border-style: solid;
    text-align: center;
    z-index: 1;

}

.Resume_Body p{

	text-decoration: underline;
    text-indent: 23px;

}

.Resume_Body p span{

	font-weight: bold;

}

.Resume_Body p+ul{

	margin-top: -10px;

}

.education {
 
    width: 52%;
    min-width: 300px;
    
}

.activities {
    
    width: 46%;
    min-width: 300px;
    
}

.experience {
    
    width: 52%;
    min-width: 300px;
    
}

.skills {
    
    width: 46%;
    min-width: 275px;
    
}