@media only screen and (min-device-width: 980px) {

    .body_container {

        width: 1000px;
        margin: auto;

    }

    .header {

        border-style: groove;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-color: darkcyan;

    }

    .header img{

        border: 2px solid;
        border-radius: 10px;
        
    }

    .photo,.contact {

        display: inline-block;

    }

     .contact {

         float: right;
         margin-top: 19.5%;
         text-align: right;

     }

    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        position: absolute;
        right: 20%;
        opacity: 0.15;

    }

    .Background img {

        padding-top: 10%;
        max-height: 800px;
        max-width: 800px;

    }
    
    .Resume_Body {
        
        clear: both;
        
    }

    .Resume_Body h2{

        border-style: solid;
        text-align: center;
        z-index: 1;

    }

    .Resume_Body p{

        text-decoration: underline;
        text-indent: 23px;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;

    }

    .education,.activities {

        display: inline-block;
        vertical-align: top;

    }
    .experience,.skills {

        display: inline-block;
        vertical-align: top;

    }

    .education {

        width: 52%;
        min-width: 300px;

    }

    .activities {

        width: 46%;
        min-width: 300px;

    }

    .experience {

        width: 52%;
        min-width: 300px;

    }

    .skills {

        width: 46%;
        min-width: 275px;

    }   
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 979px) and (orientation : landscape) {
    
    .header img{

        border: 2px solid;
        border-radius: 10px;

    }

    .header {

        border-style: groove;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-color: darkcyan;

    }
    
    .photo,.contact {

        display: inline-block;

    }

     .contact {

         text-align: left;

     }

    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        display: none;

    }

    .Resume_Body h2{

        border-style: solid;
        text-align: center;

    }

    .Resume_Body p{

        text-decoration: underline;
        text-indent: 23px;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;

    }
    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 979px) (orientation : portrait) {
    
    .header img{
        
        border: 2px solid;
        border-radius: 10px;
        

    }

    .header {

        border-style: groove;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-color: darkcyan;

    }
    
    .photo,.contact {

        display: inline-block;

    }
    
     .contact {
         
         text-align: left;

     }

    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        display: none;

    }

    .Resume_Body h2{

        border-style: solid;
        text-align: center;

    }

    .Resume_Body p{

        text-decoration: underline;
        text-indent: 23px;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;

    }

}


@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : landscape) {
    
     body {
        
        background-color: cornsilk;
        
    }
    
    .header img{

        width: 60%;
        min-width: 250px;
        border: 2px solid;
        border-radius: 10px;

    }

    .header {

        border-style: groove;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-color: darkcyan;

    }

    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        display: none;

    }
    
    .education h2,.activities h2,.experience h2,.skills h2{

        background-color: bisque;
        
    }

    .Resume_Body h2{

        border-style: solid;
        text-align: center;

    }

    .Resume_Body p{

        text-decoration: underline;
        text-indent: 23px;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;

    }


}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation : portrait) {
    
    body {
        
        background-color: cornsilk;
        
    }
    
    .header img{

        width: 60%;
        min-width: 250px;
        border: 2px solid;
        border-radius: 10px;

    }

    .header {

        border-style: groove;
        border-top-style: none;
        border-left-style: none;
        border-right-style: none;
        border-bottom-color: darkcyan;

    }

    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        display: none;

    }
    
    .education h2,.activities h2,.experience h2,.skills h2{

        background-color: bisque;
        
    }

    .Resume_Body h2{

        border-style: solid;
        text-align: center;

    }

    .Resume_Body p{

        text-decoration: underline;
        text-indent: 23px;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;

    }

}

@media print {
 
    .header {
    
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom-style: groove;

    }

    .header img{

        height: 100px;
        width: 100px;

    }
    
    .Name {

        margin-bottom: 0px;
        padding-bottom: 0px;

    }

    .contact p {

        margin-top: 0px;
        padding-top: 5px;
        margin-bottom: 0px;
        padding-bottom: 5px;

    }

    .Background{

        position: absolute;
        opacity: 0.15;

    }

    .Background img {

        right: 20%;
        top: 80%;
        max-height: 800px;
        max-width: 800px;
        z-index: -1;

    }

    .Resume_Body h2{

        margin-bottom: -10px;
        border-bottom-style: solid;

    }

    .Resume_Body section{

        margin-top: -10px;
        margin-bottom: -15px;

    }

    .Resume_Body p{

        text-decoration: underline;

    }

    .Resume_Body p span{

        font-weight: bold;

    }

    .Resume_Body p+ul{

        margin-top: -10px;
        margin-bottom: -10px;

    }
    
}