body {

	background-color: #D8D8D8;
	font-family: sans-serif;
	color: #240B3B;

}

.Header img{

	border: 2px solid;
    border-radius: 10px;

}

.Name_And_Contact{

	display: block;

}

.Background{

	position: absolute;
    right: 15%;
	opacity: 0.15;

}

.Resume_Body h2{

	border-bottom: solid;

}

.Resume_Body p{

	text-decoration: underline;

}

.Resume_Body p span{

	font-weight: bold;


}

.Resume_Body p+ul{

	margin-top: -10px;

}


