.header {
    
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-style: groove;
    
}

.header img{

    height: 100px;
    width: 100px;

}

.photo,.contact {
    
    display: inline-block;
    
}

 .contact {
     
     font-size: 75%;
     padding-left: 25px;
     
 }

.Name {
    
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}

.contact p {
    
    margin-top: 0px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    
}

.Background{

	position: absolute;
	opacity: 0.15;

}

.Background img {

    right: 20%;
    top: 80%;
    height: 800px;
    width: 800px;
    z-index: -1;
    
}

.Resume_Body h2{
    
    margin-bottom: -10px;
    border-bottom-style: solid;
    
}

.Resume_Body section{
    
    margin-top: -10px;
    margin-bottom: -15px;
    
}

.Resume_Body p{

	text-decoration: underline;
    
}

.Resume_Body p span{

	font-weight: bold;

}

.Resume_Body p+ul{

    margin-top: -10px;
	margin-bottom: -10px;

}