/* Main Styles go here */

* {
    margin: 0;
    padding: 0;
}
body {
    min-width: 900px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Arial;
    line-height: 1.3;
}
.mainDiv {
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    max-width: 960px;
}
header {
    padding-top: 20px;
}
header p {
    line-height: 1.4;   
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
h2 {
    margin-bottom: 20px; 
    font-size: 2em;
}
img {
    display: inline-block;
    float: left;
    width: 300px;
    padding: 0 20px 20px 0;
}
ul {
    padding: 5px 0 0 30px;
    line-height: 1.5;
}
.experience {
    clear: both;
    border: 1px solid gray;
    padding: 20px;
    margin: 20px auto;
}

.education {
    border: 1px solid gray;
    padding: 20px;
    margin: 20px auto;
}
.education span {
    font-weight: bold;
}
.experience p, .education p {
    margin-top: 20px;   
}
.skills {
    float: left;
    width: 50%;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 20px;
}
.activities {
    float: right;
    width: 40%;
    border: 1px solid gray; 
    padding: 10px;
    margin-bottom: 20px;
}
footer {
    clear: both;
    background: #333;
    height: 50px;
    min-width: 800px;
    margin: 0 auto;
}


/* Mobile styles go here */

/* Tablet Styles */

@media only screen and (min-width: 768px and max-width: 900px) {
    
    body {
        margin: 0 auto;
        width: 100%;   
    }
    .mainDiv {
        margin: 0 auto;
        width: 90%;   
    }
    .skills {
        box-sizing: border-box;
        float: none;
        width: 100%; 
        padding: 20px;
    }
    .activities {
        box-sizing: border-box;
        float: none;
        width: 100%;
        padding: 20px;
    }




}

/* Smartphone Styles */

@media only screen and (min-width: 320px) {
    body {
        
    }
    .mainDiv {
        
    }
    .skills {
        
    }
    .activities {
        
    }
}

