* {
    margin: 0;
    padding: 0;
}
html {
    background-image: url(../Images/Blueprint-Background.jpg);
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.pageHeader {
    width: 90%;
    min-width: 1024px;
    margin: 0 auto;
    background: #777;
    overflow: hidden;
}
.logo {
    padding: 15px;
    float: left;
}
.mainNav {
    float: left;
}
.mainNav-ul {
    list-style: none;
}
.mainNav-ul li {
    float: left;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 20px 20px 0 20px;
    font-size: 1.2em
}
.contentBody {
    clear: both;
    width: 900px;
    margin: auto;
    position: relative;
    background: #ccc;
}
.banner {
    height: 450px;
    position: relative;
}
.indexBanner {
    background-image: url(../Images/google_drive_images/back_sign.jpg);
}
.aboutBanner {
    background-image: url(../Images/google_drive_images/counter.jpg);
}
.contactBanner {
    background-image: url(../Images/google_drive_images/front_entrance.jpg);
}
.productsBanner {
    background-image: url();
}
.about_intro, .services {
    padding: 40px 80px 0 80px;
}
.nameAccent {
    font-weight: bold;
}
.brandAccent {
    font-style: italic;
}
.about_intro p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.services h2 {
}
.serviceList {
    padding: 20px;
}
.serviceList li {
    padding-bottom: 10px;
    line-height: 1.5;
    font-size: 1.2em;
}
.pageFooter {
    margin: 0 auto;
    width: 900px;
    overflow: hidden;
    background: #999;
}
.copyright {
    float: left;
    margin-left: 10px;
    line-height: 70px;
}
.phone {
    float: left;
    margin-left: 150px;
    line-height: 70px;
}
.FBLogo {
    float: right;
    margin: 10px;
    
}




