.about_intro {
    
    clear: both;
    
}

.store_hours {
    
    margin-top: 1%;
    table-layout: fixed;
    width: 20%;
    margin-bottom: 1%;
    
}

.services {
    
    list-style-type: none;
    
    
}